@media only screen and (max-width: 600px) {
  body {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .container {
    margin: 2rem auto;
  }

  .wrapper {
    margin: 1rem;
    padding: 2.4rem 1.6rem 0;
  }

  p.title-text {
    font-size: 2rem;
  }

  p.num {
    padding: 1px 1rem;
    margin-left: 0.5rem;
  }

  a.read {
    font-size: 1.8rem;
  }

  .message p {
    font-size: 1.4rem;
  }
}
